<div ng-controller="LoginController">
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>BCDSS - Login</title>
	<link type="text/css" href="assets/styles/dashboardStyle.css" rel="stylesheet">
	<!-- <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->

	<table cellpadding="0" cellspacing="0" width="100%" border="0">
		<tbody>
			<tr>
				<td align="Center">
					<table cellpadding="0" cellspacing="0" width="100%" border="0">
						<tbody>
							<!-- <tr>
								<td class="Header"><img src="assets/images/600px-US-DeptOfVeteransAffairs-Seal-Large.png" alt="BCDSS">
								Benefits Claims Decision Support System
								</td>
							</tr> -->
							<tr>
								<td class="CenterBackground" align="center">
									<div class="container-custom">
										<div class="row">
											<table cellpadding="0" cellspacing="0" border="0" width="85%">
												<tbody>
													<tr>
														<td><br>
															<div class="col-md-4 col-md-offset-8">
																<div class="login-panel panel panel-default">
																	<div class="panel-heading">
																		<h3 class="panel-title">Please Sign In</h3>
																	</div>

																	<div class="panel-body">
																		<form name="form" ng-submit="login($event)"
																			role="form"
																			class="ng-pristine ng-invalid ng-invalid-required">
																			<div class="form-group">
																				<label for="username">User Name</label>
																				<i class="fa fa-key"></i> 
																				<input type="text" name="username" id="username"
																					class="form-control ng-pristine ng-invalid ng-invalid-required"
																					ng-model="username" required="">
																				<span ng-show="form.username.$dirty &amp;&amp; form.username.$error.required"
																					class="help-block ng-hide">User Name is required</span>
																			</div>
																			<div class="form-group">
																				<label for="password">Password</label> 
																				<i class="fa fa-lock"></i> <input type="password"
																					name="password" id="password"
																					class="form-control ng-pristine ng-invalid ng-invalid-required"
																					ng-model="password" required="">
																				<span ng-show="form.password.$dirty &amp;&amp; form.password.$error.required"
																					class="help-block ng-hide">Password is required</span>
																			</div>
																			<div class="form-group">
																				<input type="checkbox" id="rememberMe" ng-model="rememberMe"/><span> Remember Me</span>	
																			</div>
																			<div class="form-actions">
																				<button type="submit"
																					ng-disabled="form.$invalid || dataLoading"
																					class="btn btn-danger" disabled="disabled">Login</button>
																			</div>
																		</form>
																	</div>

																	<div class="panel-footer">
																		<b>WARNING:</b> This System may contain Government
																		information which is restricted to authorized users
																		ONLY. Unauthorized access, use, misuse or modification
																		of this computer system or of the data contained
																		herein or in transit to/from this system constitutes a
																		violation of Title 18, United States Code, Section
																		1030, and may subject the individual to Criminal and
																		Civil penalties pursuant to Title 26, United States
																		Code,Sections 7213(1), 7213A (the Taxpayer Browsing
																		Protection Act), and performance of applicable
																		security features or procedures. Such monitoring may
																		result in the acquisition, recording and analysis of
																		all data being communicated,transmitted, processed, or
																		stored in this system by a user.If monitoring reveals
																		possible evidence of criminal activity, such evidence
																		may provide to the Law Enforcement Personnel.
																		<br>
																		<br> 
																		ANY ONE USING THIS SYSTEM EXPRESSLY CONSENTS
																		TO SUCH MONITORING
																	</div>
																</div>
															</div></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="FooterBackground"><br>
								<br></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>


</div>
