<nav class="navbar-default" role="navigation">
    <div class="container-fluid Header" style="padding-left:0px;">
        <div class="navbar-header">
            <span class="Header">
            	<img src="assets/images/BCDSS_Header.png">
			</span>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">        
            <ul class="nav navbar-nav nav-pills navbar-right" style="margin-right:5px;" ng-switch-when="true">
                <li uib-tooltip="Help" tooltip-placement="bottom">
                    <a><span class="glyphicon glyphicon-question-sign mainNav"></span></a>
                </li>
                <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    	<span class="glyphicon glyphicon-user mainNav"></span>
                    	<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span>Tools</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="password"><span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span>Password</span></a></li>
                        <li ui-sref-active="active"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span>Log out</span></a></li>
                    </ul>
                </li>
                <li>
                	<h4 class="text-right" style="font-size:small">Welcome {{userName()}}!</h4>
                </li>
              </ul>
        </div>
    </div>
</nav>