<div ng-controller="AdminDashboardController">
	<div class="container" ng-app="bcdssApp">
		<h2 class="text-center">Administrator's Dashboard</h2>
		<h2 class="text-left">Current Users</h2>
	
		<div class="row v-spacer">
			<div id="exportable" class="table-responsive well">
				<div class="row">
			        <div class="col-md-12">
			            <div class="pull-right">
			            	<button type="button" class="btn btn-success" ui-sref="usereditor()">
			                    <span class="glyphicon glyphicon-plus"></span>&nbsp;<span>Create User</span>
			                </button>
			            </div>
			        </div>
			    </div>
				<table width="100%" class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Login ID</th>
							<th>Name</th>
							<th>e-mail</th>
							<th>Status</th>
							<th>Role</th>
							<th></th>
						</tr>
					</thead>
					<tbody ng-repeat="editableUser in editableUsers">
						<tr>
							<td>{{editableUser.id}}</td>
							<td>{{editableUser.login}}</td>
							<td>{{editableUser.firstName}}</td>
							<td>{{editableUser.email}}</td>
							<td>{{editableUser.activated ? "active" : "disabled"}}</td>
							<td><span ng-repeat="role in editableUser.authorities">{{role.name}}</span></td>
							<td>
								<button type="button" ui-sref="usereditor({userId: editableUser.id})" class="btn btn-primary">
	                            	<span class="glyphicon glyphicon-pencil"></span>&nbsp; Edit</span>
	                        	</button>
	                        </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>