<h4 class="text-right">Welcome {{userName()}}!</h4>
<form name="userEditForm" role="form" novalidate ng-submit="save()">
	<br>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-left">User Editor</h2>
        </div>
    </div>
	<br>
    <div class="row">
		<div class="col-md-4">
    		<div class="form-group">
        	<label for="userLoginId">User Login ID:</label>
                <input required id="userLoginId" type="text" class="form-control" placeholder="Type user name here" ng-model="editUser.login">
            </div>
        </div>
        <div class="col-md-4">
    		<div class="form-group">
        	<label for="activeUser">Active User:</label>
                <input id="activeUser" type="text" class="form-control" ng-model="editUser.activated" ng-disabled="editUser.id">
            </div>
        </div>
        
        <div class="col-md-4">
    		<div class="form-group">
        	<label for="userRole">Role:</label>
                <select required id="userRole" type="text" class="form-control" ng-model="editUser.authorities[0]" ng-disabled="editUser.id" ng-options="userrole.name for userrole in userroles track by userrole.name">
                	<option selected="selected" disabled="disabled" value=""></option>
                </select>
            </div>
        </div>
    </div>
    <br>
	<div class="row">
		<div class="col-md-4">
    		<div class="form-group">
        	<label for="userName">Name:</label>
                <input required id="userName" type="text" class="form-control" ng-model="editUser.firstName">
            </div>
        </div>
        <div class="col-md-4">
    		<div class="form-group">
        	<label for="createdBy">Created By:</label>
                <input id="createdBy" type="text" class="form-control" ng-model="editUser.createdBy" ng-disabled="true"/>
            </div>
        </div>
        
        <div class="col-md-4">
    		<div class="form-group">
        	<label for="dateCreated">Date Created:</label>
                <input id="dateCreated" class="form-control" ng-model="formatDate(editUser.createdDate)" ng-disabled="true"/>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
        	<div class="form-group">
        		<label for="userEmail">E-Mail:</label>
             	<input required id="userEmail" type="text" class="form-control" placeholder="Type user email here" ng-model="editUser.email"/>
            </div>
        </div>
        <div class="col-md-4" >
        	<div class="form-group">
        		<label for="lastModifiedBy">Last Modified By:</label>
             	<input id="lastModifiedBy" type="text" class="form-control" ng-model="editUser.lastModifiedBy" ng-disabled="true"/>
            </div>
        </div>
        <div class="col-md-4" >
        	<div class="form-group">
        		<label for="lastModifiedDate">Last Modified Date:</label>
             	<input id="lastModifiedDate" class="form-control" ng-model="formatDate(editUser.lastModifiedDate)" ng-disabled="true"/>
            </div>
        </div>
    </div>    
	<br>
	<div class="row">
        <div class="col-md-4" >
        	<div class="form-group">
        		<label for="userPassword">Password:</label>
             	<input required id="userPassword" type="text" class="form-control" placeholder="Type password here" ng-model="editUser.password" ng-disabled="editUser.id"/>
            </div>
        </div>
    </div> 
	<br>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
            	<button type="button" style="margin-left:5px" class="btn btn-danger" ng-click="resetPassword()" ng-disabled="!editUser.id">
                    <span class="glyphicon glyphicon-flash"></span>&nbsp;<span>Reset Password</span>
                </button>
                <button type="button" style="margin-left:5px" class="btn btn-success" ng-click="cancel()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" style="margin-left:5px" ng-disabled="userEditForm.$invalid" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                </button>
            </div>
        </div>
    </div>
</form>
<div>
	<div ng-include="'scripts/app/main/footer.html'" class="container-custom"></div>
</div>