<form name="userEditForm" role="form" novalidate ng-submit="save()">

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-left">User Editor</h2>
        </div>
    </div>
    <div class="row">
		<div class="col-md-4">
    		<div class="form-group">
        	<label for="userLoginId">User login id:</label>
                <input required id="userLoginId" type="text" class="form-control" placeholder="Type user name here" ng-model="editUser.login">
            </div>
        </div>
        <div class="col-md-4">
    		<div class="form-group">
        	<label for="activeUser">Active user:</label>
                <input id="activeUser" type="text" class="form-control" placeholder="Type user name here" ng-model="editUser.activated" ng-disabled="true">
            </div>
        </div>
        
        <div class="col-md-4">
    		<div class="form-group">
        	<label for="userRole">User Role:</label>
                <input id="userRole" type="text" class="form-control" placeholder="Type user name here" ng-model="editUser.authorities[0].name" ng-disabled="true">
            </div>
        </div>
    </div>
    
	<div class="row">
		<div class="col-md-4">
    		<div class="form-group">
        	<label for="userName">User Name:</label>
                <input required id="userName" type="text" class="form-control" placeholder="Type user name here" ng-model="editUser.firstName">
            </div>
        </div>
        <div class="col-md-4">
    		<div class="form-group">
        	<label for="createdBy">Created By:</label>
                <input id="createdBy" type="text" class="form-control" placeholder="Type user name here" ng-model="editUser.createdBy" ng-disabled="true"/>
            </div>
        </div>
        
        <div class="col-md-4">
    		<div class="form-group">
        	<label for="userName">Date Created:</label>
                <div required id="userName" class="form-control" placeholder="Type user name here" ng-model="editUser.createdDate" ng-disabled="true">{{formatCreatedDate(editUser.createdDate)}}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
            	<button type="button" class="btn btn-danger" ng-click="resetPassword()">
                    <span class="glyphicon glyphicon-flash"></span>&nbsp;<span>Reset Password</span>
                </button>
                <button type="button" class="btn btn-success" ng-click="cancel()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" style="margin-left:5px" ng-disabled="userEditForm.$invalid" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                </button>
            </div>
        </div>
    </div>
</form>
