<div ng-controller="AdminDashboardController">
<div class="container" ng-app="bcdssApp">
	<h2 class="text-center">Administrator's Dashboard</h2>
	<h2 class="text-center">Users</h2>

	<div class="row v-spacer">
		<div id="exportable" class="table-responsive well">
			<table width="100%" class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>User ID</th>
						<th>User Name</th>
						<th>Role</th>
						<th>Active</th>
						<th></th>
					</tr>
				</thead>
				<tbody ng-repeat="user in users">
					<tr>
						<td>{{user.login}}</td>
						<td>{{user.firstName}}</td>
						<td>{{user.role}}</td>
						<td>{{user.activated}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row v-spacer">
		<div class="col-md-12">
			<div class="pull-right">
				<button type="button" class="btn btn-default" ng-click="clear()">
					<span>Clear</span>
				</button>
				<button type="button" style="margin-left: 5px" class="btn btn-primary" ng-click="displayProcess()">
					<span>Create New User</span>
				</button>
				<button id="next" type="submit" class="btn btn-default hidden" ui-sref="processor()">
					<span>Next</span>
				</button>
			</div>
		</div>
	</div>

	<div class="modal fade" id="serviceErrorDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Service Unavailable</h4>
				</div>
				<div class="modal-body">
					<p>Service 'User Retrieve' is unavailable at the moment. Please contact support or try again.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="User">
						<span>Close</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="user fade" id="userDialog">
		<div class="user-dialog">
			<div class="user-content">
				<div class="user-header">
					<h4 class="user-title">Create New User</h4>
				</div>
				<div class="user-body">
					<label>First Name: <input type="text" ng-model="value1">
					</label><br />
					<label>Last Name: <input type="text" ng-model="value2">
					</label><br/>
					<label class="text-danger">User ID: <input type="text" ng-model="value3" disabled>
					</label><br/>
					<label class="text-danger">Password: <input type="text" ng-model="value4" disabled>
					</label><br/>
					<label class="text-danger">Role: <input type="text" ng-model="value5" disabled>
					</label><br/>
				</div>
				<div class="user-footer">
					<button type="button" class="btn btn-default" data-dismiss="user">
						<span>Cancel</span>
					</button>
					<button type="button" class="btn btn-default" data-dismiss="user" ng-click="click()">
						<span>Save</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>