.large-text {
    font-size:4em;
}

.medium-large-text {
    font-size:2em;
}

.parent {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.table-responsive.well table {
    margin-bottom: 0;
}

.tool-column {
    text-align: right;
    min-width: 151px
}

/* Post-Processing styles */
.vertical-nav-tab-group li {
    margin: 4px 0 4px 0;
    height: 76px;
    background-color: #337ab7;
    width: 100px;
    border: none;
    border-radius: 10px;
    position:relative;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.vertical-nav-tab-group a {
    color: white;
    background: transparent !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.vertical-nav-tab-group li.active {
    background-color: #205581 !important;
    border-radius: 10px 0 0 10px;
}

.vertical-nav-tab-group li.active::after,
.vertical-nav-tab-group li:hover::after {
    background-color: transparent;
    position: absolute;
    right: -20px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 38px solid transparent;
    border-bottom: 38px solid transparent;
    border-left: 20px solid #205581;
    content: "";
}

.vertical-nav-tab-group li:hover {
    border-radius: 10px 0 0 10px;
    background-color: #ffcc33 !important;
}
.vertical-nav-tab-group li:hover a {
    color: #363636 !important;
}

.vertical-nav-tab-group li:hover::after {
    border-left: 20px solid #ffcc33;
}

/* Multiselect directive style */
ul.multiselect {
    height: auto;
    max-height: 350px;
    white-space: nowrap;
    overflow: scroll;
    cursor: pointer;
}

ul.multiselect label {
    font-weight: normal;
    display: block;
    margin: 0;
    padding: 0 2px 1px;
    line-height: initial;
    cursor: pointer;
}

ul.multiselect input {
    display: none;
}

ul.multiselect li.select-highlight {
    background-color: #0069d9;
    color: white;
}

ul.multiselect li.select-highlight-blur {
    background-color: #d4d4d4;
    color: black;
}

.container-custom {
	overflow-x: hidden;
	width: 100%;
	align: center;
}

.dashboard{
	padding-top:5px;
}

.mainNav{
	color:white;
}


.sidebar-nav .navbar .navbar-collapse {
   padding: 0;
   max-height: none;
 }

 .sidebar-nav .navbar ul {
    float: none;
    display: block;
    text-align:left;
    margin-right: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 254px;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
 }

 .sidebar-nav .navbar li {
   float: none;
   display: block;
 }

 .sidebar-nav .navbar li a {
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left:15px;
 }

 .navbar-custom{
 	padding-right:0px;
 	padding-left:2px;
    margin-right: 0px; 
    border-bottom: none;
    border-right: 0px;
 }
 
 .sidemenu{
    background: #f5f5f5;
    margin-left: 0px;
    margin-right: 0px;
    height: 80vh;
}

 .navbar-nav.glyphicon{
    padding:5px;
 }

.disabledLink {
    pointer-events: none;
    cursor: default;
}

.dataTable td {
  word-break: break-all;
}

.sidebar-nav .navbar li:last-child {
    border-bottom: none;
}

/* Change the link color on hover */
.sidebar-nav .navbar li a:hover {
    background-color: #555;
    color: white;
}