<div ng-controller="ClaimsController">
	<div class="row">
		<div class="col-md-12">
			<div id="exportable" class="table-responsive well">
			<table width="100%" class="table table-striped">
				<thead>
					<tr>
						<th ng-click="orderByField='veteranId'; reverseSort = !reverseSort"><a>Veteran ID <span ng-show="orderByField == 'veteranId'"><span ng-show="!reverseSort"> <span class="glyphicon glyphicon-sort-by-order"></span></span><span ng-show="reverseSort"> <span class="glyphicon glyphicon-sort-by-order-alt"></span></span></a></th>
						<th ng-click="orderByField='veteranId'; reverseSort = !reverseSort"><a>Veteran Name <span ng-show="orderByField == 'veteranId'"><span ng-show="!reverseSort"> <span class="glyphicon glyphicon-sort-by-order"></span></span><span ng-show="reverseSort"> <span class="glyphicon glyphicon-sort-by-order-alt"></span></span></a></th>
						<th ng-click="orderByField='regionalOfficeOfClaim'; reverseSort = !reverseSort"><a>Regional Office <span ng-show="orderByField == 'regionalOfficeOfClaim'"><span ng-show="!reverseSort"> <span class="glyphicon glyphicon-sort-by-alphabet"></span></span><span ng-show="reverseSort"> <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></span></a></th>
						<th ng-click="orderByField='claimId'; reverseSort = !reverseSort"><a>Claim ID <span ng-show="orderByField == 'claimId'"><span ng-show="!reverseSort"> <span class="glyphicon glyphicon-sort-by-order"></span></span><span ng-show="reverseSort"> <span class="glyphicon glyphicon-sort-by-order-alt"></span></span></a></th>
						<th ng-click="orderByField='claimDate'; reverseSort = !reverseSort"><a>Date of Claim <span ng-show="orderByField == 'claimDate'"><span ng-show="!reverseSort"> <span class="glyphicon glyphicon-sort-by-order"></span></span><span ng-show="reverseSort"> <span class="glyphicon glyphicon-sort-by-order-alt"></span></span></a></th>
						<th ng-click="orderByField='claimDate'; reverseSort = !reverseSort"><a>CEST Date<span ng-show="orderByField == 'claimDate'"><span ng-show="!reverseSort"> <span class="glyphicon glyphicon-sort-by-order"></span></span><span ng-show="reverseSort"> <span class="glyphicon glyphicon-sort-by-order-alt"></span></span></a></th>
						<th ng-click="orderByField='contentionClaimTextKeyForModel'; reverseSort = !reverseSort"><a>Models/Contentions<span ng-show="orderByField == 'contentionClaimTextKeyForModel'"><span ng-show="!reverseSort"> <span class="glyphicon glyphicon-sort-by-alphabet"></span></span><span ng-show="reverseSort"> <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></span></a></th>
						<th><div style="text-align:center; vertical-align:middle"><DIV><b>Select</b></DIV><Div><input type="checkbox" ng-model="selectAll" ng-click="toggleCheckAll()" /></Div></div></th>
					</tr>
				</thead>
				<div class="row">
					<label class="pull-right"><span class="glyphicon glyphicon-filter"></span>Filter: <input ng-model="filterKey"/> &nbsp &nbsp<button class = "btn btn-warning" id="clear-filter" ng-click="clearFilter()" type="button" ng-hide="!filterKey"><span class = "glyphicon glyphicon-ban-circle"/>&nbsp Clear Filter</button></label>
				</div>
				<div class="row pull-right" style="padding-right:10px">
					<button type="button" class="btn btn-link" ng-click="advancedFilter()">Advanced Filter</button>
				</div>
				<tbody ng-repeat="claim in claims | orderBy:orderByField:reverseSort | filter : filterKey">
					<tr>
						<td>{{claim.veteranId}}</td>
						<td>veteran {{claim.veteranId}}</td>
						<td>{{claim.regionalOfficeOfClaim}}</td>
						<td>{{claim.claimId}}</td>
						<td>{{claim.claimDate | date:'MM/dd/yyyy'}}</td>
						<td>{{getCestDate(claim.claimDate) | date:'MM/dd/yyyy'}}</td>
						<td>{{claim.contentionClaimTextKeyForModel}}</td>
						<td align="center"><input type="checkbox" ng-model="claim.Selected"/></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>

	<div class="row v-spacer">
		<div class="col-md-12">
			<div class="pull-right">
				<button type="button" class="btn btn-default" ng-click="clear()">
					<span>Reset</span>
				</button>
				<button type="button" style="margin-left: 5px" class="btn btn-primary" ng-click="displayProcess()">
					<span>Select Model</span>
				</button>
				<button id="next" type="submit" class="btn btn-default hidden" ui-sref="processor()">
					<span>Next</span>
				</button>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="advancedFilterDialog">
		<div class="modal-dialog" style="width:35%">
			<div class="modal-content">
				<div class="Header">
					<h4 class="modal-title">Advanced Filter</h4>
				</div>
				<div class="modal-body" style="padding-left:inherit">
					<form name="frmAdvancedFilter">
						<div class="container">
							<div class="form-group row">
								<div class="col-xs-6">
									<input type="radio" ng-model="filters.dateofClaim" value="claimDate"> Date of Claim
								</div>
								<div class="col-xs-6" style="text-align:left">	
									<input type="radio" ng-model="filters.dateofClaim" value="contentionClaimTextKeyForModel"> Claim Established Date
								</div>
							</div>	
							
							<div class="form-group row">
								<label for="dateFrom" class="col-xs-3 col-form-label" style="text-align:right">Date:&nbsp&nbspFrom</label>
								<div class="col-xs-4">
							        <input type="date" placeholder="Enter Date" pattern="MM/dd/yyyy"  name="dateFrom" ng-model="minDate"/> 
							     </div>
	      						<label for="dateto" class="col-xs-1 col-form-label" style="text-align:right">To</label>
								<div class="col-xs-4">
							            <input type="date" style="float:right" placeholder="Enter Date"  pattern="MM/dd/yyyy" name="dateTo" ng-model="maxDate"/>
							    </div>
							</div>
			
							<div class="form-group row">
								<label for="txtContention" class="col-xs-4 col-form-label" style="text-align:right">Contention</label>
								<div class="col-xs-8" style="text-align:left"><input type="text" id="txtContention" ng-model="filters.contentionClaimTextKeyForModel"> </div>
							</div>
							
							<div class="form-group row">	
								<label for="txtRegionalOffice" class="col-xs-4 col-form-label" style="text-align:right">Regional Office</label>
								<div class="col-xs-8" style="text-align:left"><input type="text" ng-model="filters.regionalOfficeOfClaim"> </div>
							</div>
							
							<div class="row">
								<div class="col-xs-6">
									<button type="button" class="btn btn-outline-secondary btn-sm pull-right" style="width:150px" data-dismiss="modal">
										<span>Cancel</span>
									</button>
								</div>
								<div class="col-xs-6">
									<button type="button" class="btn btn-outline-secondary btn-sm pull-left" style="width:150px" data-dismiss="modal" ng-click="advanceFilterSearch()">
										<span>Filter</span>
									</button>
								</div>
							</div>
						</div>
					</form>				
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="serviceErrorDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Service Unavailable</h4>
				</div>
				<div class="modal-body">
					<p>Service 'Claimant Retrieve' is unavailable at the moment. Please contact support or try again.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<span>Close</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modelDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Model Selection</h4>
				</div>
				<div class="modal-body">
					<label>Ear: <input type="checkbox" ng-model="value1"></label>
					<br />
					<label>Knee: <input type="checkbox" ng-model="value2"></label>
					<br/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<span>Cancel</span>
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="click()">
						<span>Submit</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
