<div ng-controller="ClaimsController">
	<div class="row">
		<div class="col-md-12">
			<table id="claimsGrid" datatable="" dt-options="dtOptions" 
						dt-columns="dtColumns" dt-instance="dtInstance" class="row-border hover"></table>
			
		</div>
	</div>
	<div class="modal fade" id="advancedFilterDialog">
		<div class="modal-dialog" style="width:35%">
			<div class="modal-content">
				<div class="Header">
					<h4 class="modal-title">Advanced Filter</h4>
				</div>
				<div class="modal-body" style="padding-left:inherit; padding-right:30px; padding-bottom:15px">
					<form name="frmAdvancedFilter">
						<div role="alert" style="color: #D8000C;"><span>{{errMessage}}</span></div>
<!-- 						<div class="form-group row">
							<div class="col-md-6">
								<input type="radio" ng-model="filters.dateType" value="claimDate" ng-checked="filters.dateType"> Date of Claim
							</div>
							<div class="col-md-6" style="text-align:left">	
								<input type="radio" ng-model="filters.dateType" value="establishedDate"> Claim Established Date
							</div>
						</div>	
						
						<div class="form-group row">
							<label for="dateFrom" class="col-md-3 col-form-label" style="text-align:right">Date:&nbsp&nbspFrom</label>
							<div class="col-md-4">
						        <input type="date" validatedateformat data-date-format="mm/dd/yyyy" maxlength="10" id="fromDate" calendar  
						         ng-click="openCalendar('fromDate')" placeholder="Enter Date" name="fromDate" ng-model="fromDate" ng-change='checkErr(fromDate,toDate)'/> 
						     </div>
      						<label for="dateto" class="col-md-1 col-form-label" style="text-align:right">To</label>
							<div class="col-md-4">
						        <input type="date" validatedateformat data-date-format="mm/dd/yyyy" maxlength="10" id="toDate" calendar  
						          ng-click="openCalendar('toDate')" placeholder="Enter Date" name="toDate" ng-model="toDate" ng-change='checkErr(fromDate,toDate)'/> 
						    </div>
						    
						</div> -->
						
						<div class="form-group row">	
							<label for="txtRegionalOffice" class="col-md-4 col-form-label" style="text-align:right">Regional Office</label>
							<div class="col-md-8" style="text-align:left">
								<select id="regionalOffice" name="regionalOffice" type="text" ng-model="filters.regionalOfficeOption" ng-options="o.value as o.label for o in regionalOfficeOptions | orderBy:'label'" style="height:25px; width:325px">
								</select> 
							</div>
						</div>
						
						<div class="form-group row">
							<label for="txtContention" class="col-md-4 col-form-label" style="text-align:right">Contention</label>
							<div class="col-md-8" style="text-align:left"><input type="text" id="txtContention" ng-model="filters.contentionType" style="width:200px" ></div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<button type="button" class="btn btn-outline-secondary btn-sm pull-right" ng-click="clear()" style="width:150px" data-dismiss="modal">
									<span>Cancel</span>
								</button>
							</div>
							<div class="col-md-6">
								<button type="button" ng-disabled="frmAdvancedFilter.$invalid" class="btn btn-outline-secondary btn-sm" style="width:150px" data-dismiss="modal" ng-click="advanceFilterSearch()">
									<span>Filter</span>
								</button>
							</div>
						</div>
					</form>
				</div>		
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="serviceErrorDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Service Unavailable</h4>
				</div>
				<div class="modal-body">
					<p>Service 'Claimant Retrieve' is unavailable at the moment. Please contact support or try again.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<span>Close</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modelDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Model Selection</h4>
				</div>
				<div class="modal-body">
					<label>Ear: <input type="checkbox" ng-model="value1"></label>
					<br />
					<label>Knee: <input type="checkbox" ng-model="value2"></label>
					<br/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<span>Cancel</span>
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="click()">
						<span>Submit</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
