<div ng-controller="ModelsController">
	<div class = "container">
		<br/>
		<br/>
	</div>
	<div class="form-group">
		<form name="frmPatternSearch" class="form-horizontal" role="form">
			<div class="row" role="alert" style="color: #D8000C; text-align: center;"><span>{{errMessage}}</span></div>
			<div class="row">
				<div class="col-md-2">
		    		<label for="txtPatterntId" class="control-label pull-right" title="Pattern Id">Pattern Id:</label>
		    	</div>
		    	<div class="col-md-2">
		    		<input type="text" id="txtPatterntId" name="txtPatterntId" placeholder="Enter a number" ng-pattern="onlyNumbers" class="form-control pull-left" ng-model="patternId" maxlength="10" min="1" max="9999999999" ng-change="isValidPatternId()" title=" Enter a pattern id">
		    	</div>
		    	<div class="col-md-1">
					<button type="submit" title="Search" ng-disabled="frmPatternSearch.$pristine || frmPatternSearch.$invalid" class="btn btn-primary" ng-click="searchPatternResults()">
						<span>Search</span>
					</button>
    			</div>
			</div>
		</form>	
	</div>
	<div class="row">  
		<spinner name="modelCddSpinner" img-src="./assets/images/spinner.gif"></spinner>
		<div role="alert" ng-show="displayInsertStatus">
			<span class="col-md-12" style="text-align: left;font-size: medium;color: blue">CDD updated successfully.</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" ng-show="displayModelPatternTable">
			<table id="modelPatternGrid" datatable="" dt-options="dtOptions" 
						dt-columns="dtColumns" dt-instance="dtInstance" class="table table-striped table-bordered table-hover compact"></table>
		</div>
	</div>
	<div class="row" ng-show="displayBtnOnDataAvailability">
    	<div class="col-md-12" style="margin-top:10px; text-align: right">
				<button type="submit" title="Edit CDD" ng-disabled="frmPatternSearch.$invalid" class="btn btn-primary" ng-click="createCddValue()">
					<span>Edit CDD</span>
				</button>
    	</div>
    </div>
    <div class="modal fade" id="modelDialogCreateCdd">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="Header col-md-12">
						<h4 class="modal-title">Edit CDD</h4>
					</div>
					<div class="row">
						<form name="frmEditCDD">
							<div>
								<div class="row" role="alert" style="color: #D8000C; margin-right:0px; margin-top:45px; text-align: center;">
								<span>{{errMessageModal}}</span></div>
							</div>
							<br/>
							<div class="row">
								<div class="col-md-4">
						    		<label for="txtCDD" class="control-label pull-right" title="Enter CDD">Enter CDD:</label>
						    	</div>
						    	<div class="col-md-4">
						    		<input type="text" id="txtCDD" placeholder="Enter a number" ng-pattern="onlyNumbers" class="form-control pull-left" 
						    		ng-model="Cdd" title="Enter CDD Value">
						    	</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-md-12" style="margin-bottom: 5px;text-align: center;">
									<button type="submit"  title="Confirm" ng-disabled="frmEditCDD.$invalid" class="btn btn-primary" 
										ng-click="createPatternCdd($event)">
										<span>Confirm</span>
									</button>
									<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
									<button type="submit" title="Cancel" class="btn btn-primary" data-dismiss="modal" ng-click="clear()">
										<span>Cancel</span>
									</button>
				    			</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
