<form name="editForm" role="form" novalidate ng-submit="publish()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="$close()">&times;</button>
        <h4 class="modal-title" id="publish-label">Publish Rating Schedule</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-5 col-md-offset-1">
                <p>There are currently <strong>{{getNumRules()}}</strong> rules in the current schedule for <strong>{{evaluationBuilder.evaluationBuilderType.name}}</strong>.</p>
                <p>Do you want to publish?</p>
            </div>
        </div>
    </div> <!--End modal-body -->

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$close()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Publish</span>
        </button>
    </div>
</form>
