<div class="container-fluid">
	<div class="row" ng-controller="TabController">
		<div class="sidemenu">
			<div class="col-md-2 navbar-custom">
				<div class="sidebar-nav">
				  <div class="navbar navbar-default" role="navigation">
				    <div class="navbar-collapse collapse sidebar-navbar-collapse">
						<ul class="nav navbar-nav">
								<li ng-class="{ active: isSet(1) }">
									<a href ng-click="setTab(1)"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a>
								</li>
								<li ng-class="{ active: isSet(2) }">
									<a href ng-click="setTab(2)"><i class="glyphicon glyphicon-book"></i> Models</a>
								</li>
								<li ng-class="{ active: isSet(3) }">
									<a href ng-click="setTab(3)"><i class="glyphicon glyphicon-list-alt"></i> Report</a>
							</li>
						  </ul>
				    </div><!--/.nav-collapse -->
				  </div>
				</div>
			</div>
		</div>	
		
		<div class="col-md-10 dashboard">
			<div ng-show="isSet(1)">
				<div class="row panel-body">
					<div class="col-md-12">
						<ul class="nav nav-tabs">
							<li ng-class="{ active: isDashboardTabSet(1) }">
								<a href ng-click="setDashboardTab(1)">Claims</a>
							</li>
							<li ng-class="{ active: isDashboardTabSet(2) }">
								<a href ng-click="setDashboardTab(2)">Results</a>
							</li>
						</ul>
						<div ng-show="isDashboardTabSet(1)">
							<div ng-include="'scripts/app/claims/claims.html'"></div>
						</div>
						<div ng-show="isDashboardTabSet(2)">
							<div ng-include="'scripts/app/misc/results.html'"></div>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="isSet(2)">
				<div class="row">
					<div align="center" class="panel-body">
						<div ng-include="'scripts/app/models/models.html'"></div>
					</div>
				</div>
			</div>
			<div ng-show="isSet(3)">
				<div class="row">
					<div align="center" class="panel-body">
						<div ng-include="'scripts/app/misc/reports.html'"></div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>